<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome!</h1>
    {{#nickname}}
        <p>You are logged in as {{nickname}}.</p>
        <a href="/logout" class="btn btn-secondary">Logout</a>
        <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-secondary">Logout</button>
                </form>

    {{/nickname}}
    {{^nickname}}
        <p>You are not logged in.</p>
        <a href="/oauth2/authorization/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>
    {{/nickname}}
</body>
</html>
